<%- include('../../../templates/components/header.ejs');%>
<div class="text-center py-5">
    <p class="text-danger h1 ">
        Ecommerce</p>
    <hr class="divider bg-madison pr-5">
</div>
<div class="container">
    <div class="content">
        <p class="services-content-main">
            The rule of the digital market makes the digital presence of every brand mandatory. Upscaling your business
            is easier and quicker with a professional website that is unique and engaging. Hyrrokkin has experts in the
            designing and developmental genre of such websites who ensure to maintain international standards in their
            work.



            <br>
            The simplicity of the process is our forte. It involves the presentation of an exclusive UI design, followed
            by a client- approved frontend development of the design. Our aim is to make more business by engaging
            customers and generating leads. For those businesses who intend to capture such leads, Piweb's Clean and
            Secure Website is the best choice. The reason our package results in a high performance website/web
            application is because your requirement determines the CMS/Application development process.


        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img src="images/analysis.png"
                        alt=""></div>
                <h4 class="title text-center fw-bold py-3">UI & UX
                </h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">Our design approach
                    combines strategic content, captivating graphics, elegant form, and aesthetics to ensure a seamless
                    and intuitive user experience that elevates your brand.


                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img src="images/accuracy.png"
                        alt=""></div>
                <h4 class="title text-center fw-bold py-3 ">Unique Design</h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">We specialize in
                    crafting exclusive, standout designs that not only capture attention but also embody your brand's
                    essence, giving you the edge you need to leave competitors behind.



                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img src="images/puzzle.png" alt="">
                </div>
                <h4 class="title text-center fw-bold py-3 pb-4">Responsiveness
                </h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">We focus on
                    responsiveness. The websites we curate are adjusted to various screen sizes and orientations,
                    ensuring a consistent and user-friendly experience for all visitors.

                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img
                        src="images/quality-security.png" alt=""></div>
                <h4 class="title text-center fw-bold py-3">Inbuild SEO
                </h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">We incorporate SEO
                    features into the website designs to optimise structure, content, layout, and code for increased
                    visibility, search engine traffic, and higher conversions.

                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img src="images/quality.png" alt="">
                </div>
                <h4 class="title text-center fw-bold py-3">Security</h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">We protect our
                    customers from possible cyber-attacks and keep their sensitive data safe by implementing multiple
                    layers of security measures.






                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card blog-meta-one feature-post p-3">
                <div class="icon d-flex align-items-center justify-content-center"><img src="images/combo-chart.png"
                        alt=""></div>
                <h4 class="title text-center fw-bold py-3">Digital Marketing Friendly

                </h4>
                <p class="service-content" style="font-size: 16px; text-align: justify !important;">We provide
                    comprehensive online marketing solutions, unlocking growth opportunities across diverse digital
                    platforms, and empowering your business for success in the digital age.
                </p>
            </div>

        </div>
    </div>
    <br><br>
    <div class="about-card-main">
        <div class="card p-5 about-card ">
            <div class="row">
                <div class="col-lg-7">
                    <p class="text-white h2"> Be a part of our journey</p>
                    <p class="text-white h6">We are quirky, fun to be with, & love what we do. What about you? Be a part
                        of
                        our family. </p>
                </div>
                <div class="col-lg-5 text-center mt-3 ">
                    <a class="proposal-btn btn btn-info" href="/contact">Get a Proposal</a>
                </div>
            </div>
        </div>
    </div>
</div>



</div>


<%- include('../../../templates/components/footer.ejs'); %>