<%- include('../../templates/components/header.ejs'); %>

<div class="container ">
    <div class="text-center py-5">
        <p class="text-danger h1 ">
            About Us</p>
        <hr class="divider bg-madison pr-5">
    </div>
    <div class="row">
        <div class="col-lg-7">

            <div class="">
                <p class="about-content h6 p-4">
                    Piweb is one of the most outstanding computerized promoting organizations in Kolkata offering a
                    scope of
                    web based showcasing administrations in Kolkata, India including website architecture and that's
                    just
                    the beginning. We are continually ready through committed endeavors to offer the best quality
                    assistance
                    since the absolute first day. Our quality discussions so we don't need to! Our center group is
                    stacked
                    with experienced computerized promoting experts, PPC, Web optimization specialists, online
                    entertainment
                    specialists, content journalists, web specialists, visual creators and web engineers. With
                    multitudinous
                    fulfilled clients and blissful countenances, we trust in developing your business simply the manner
                    in
                    which we become our own. It was established by Specialists who have been in the tech and startup
                    area for quite a long time and
                    have been energetically serving this honourable calling in an alternate way.
                </p>
                <p class="p-4 h6">

                </p>
            </div>
        </div>
        <div class="col-lg-5">
            <img class="card-service-images w-100 illustration" src="images/team.svg" alt="" srcset="">

        </div>

    </div>
    <div class="about-card-main">
    <div class="card p-5 about-card ">
        <div class="row">
            <div class="col-lg-7">
                <p class="text-white h2"> Be a part of our journey</p>
                <p class="text-white h6">We are quirky, fun to be with, & love what we do. What about you? Be a part of
                    our family. </p>
            </div>
            <div class="col-lg-5 text-center mt-3 ">
                <a class="proposal-btn btn btn-info" href="#">Get a Proposal</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<%- include('../../templates/components/footer.ejs'); %>