<div class="container">
    <div class="text-center py-5">
      <p class="text-danger h1 ">
        THIS IS HOW WE DO IT.</p>
        <hr class="divider bg-madison pr-5"></hr>
      
    </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="text-center">
  <img src="images/analysis.svg" class="how-we-do-it" alt="" srcset="">
      </div>
      <p class="text-dark fw-bold">
         Analysis
  
      </p>
    </div>
    
    <div class="col-lg-2">
      <div class="text-center">
        <img src="images/researching.svg" class="how-we-do-it" alt="" srcset="">
            </div>
            <p class="text-dark fw-bold text-center">
              Research
        
            </p>
  </div>
  
  <div class="col-lg-2">
    <div class="text-center">
      <img src="images/idesigner.svg" class="how-we-do-it" alt="" srcset="">
          </div>
    <p class="text-dark fw-bold text-center">
    DESIGN
    </p>
  </div>
  
  <div class="col-lg-2">
    <div class="text-center">
      <img src="images/build.svg" class="how-we-do-it" alt="" srcset="">
          </div>
    <p class="text-dark fw-bold text-center">
  
    BUILD
    </p>
  </div>
  <div class="col-lg-2">
    <div class="text-center">
      <img src="images/update.svg" class="how-we-do-it" alt="" srcset="">
          </div>
    <p class="text-dark fw-bold text-center">
  
    LAUNCH
    </p>
  </div>
  <div class="col-lg-2">
    <div class="text-center">
      <img src="images/connecting.svg" class="how-we-do-it" alt="" srcset="">
          </div>
    <p class="text-dark fw-bold text-center">
  
    SUPPORT
    </p>
  </div>
  </div>
  </div>